.navbar {
  width: 95%; // 너비를 80%로 설정
  margin: 0 auto; // 중앙에 배치
  padding: 1rem 0;

  .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
  }

  .form-control {
    width: 200px;
    margin-right: 0.5rem;
  }

  .searchBtn {
    margin-right: 3rem;
  }
}
